@font-face {
	font-family: 'Khula';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Khula/Khula-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Khula';
	font-weight: 800;
	src: url('../fonts/Khula/Khula-Black.ttf') format('truetype');
}