@import "_fonts";

$primary-color: #00c5e6;
$danger-color: crimson;
$success-color: #24f194;
$cell-base-border: 2px solid $primary-color;
$cell-marked-bg: darken($primary-color, 30%);
$base-transition: all .3s ease;

*:focus {
	outline: 0;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Khula';
}

label {
	font-weight: 800;
	text-transform: uppercase;
	color: $primary-color;
	margin-right: 5px;
}
.inp-txt {
	border-radius: 50px;
	border: 1px solid $primary-color;
	padding: 10px 10px 10px 10px;
	color: $primary-color;
	text-align: center;
	font-weight: 700;
	transition: $base-transition;
}
.inp-txt:hover, .inp-txt:focus {
	box-shadow: 0 0 5px $primary-color;
}
.inp-txt::placeholder {
	color: lighten($primary-color, 20%);
}
.btn {
	border-radius: 50px;
	border: 1px solid $primary-color;
	background: #fff;
	color: $primary-color;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 11px;
	letter-spacing: 3px;
	transition: $base-transition;
}
.btn:hover {
	background: $primary-color;
	color: #fff;
}
.btn:active {
	background: darken($primary-color, 10%);
}
.btn.danger {
	border-color: $danger-color;
	color: $danger-color;
}
.btn.danger:hover {
	background: $danger-color;
	color: #fff;
}
.btn.success:active {
	background: darken($success-color, 10%);
}
.btn.success {
	border-color: $success-color;
	color: $success-color;
}
.btn.success:hover {
	background: $success-color;
	color: #fff;
}
.btn.success:active {
	background: darken($success-color, 10%);
}

#wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	#main {
		flex: 1;

		min-height: 100%;
		display: flex;
		flex-direction: column;

		#row-bingo {
			flex: 4;

			display: flex;
			flex-direction: column;

			.bingo-row {
				flex: 1;

				display: flex;
				flex-direction: row;

				.primary-cell {
					text-transform: uppercase;
					background: $primary-color;
					color: #fff !important;
					background: $primary-color !important;
				}

				.bingo-cell {
					flex: 1;

					display: flex;
					flex-direction: column;
					justify-content: center;
					text-align: center;
					font-weight: 800;
					font-size: 50px;
					border-left: $cell-base-border;
					border-bottom: $cell-base-border;
					color: $primary-color;
					transition: $base-transition;
				}
				.bingo-cell:hover {
					background: $cell-marked-bg;
				}
				.bingo-cell:active {
					background: darken($primary-color, 40%);
				}

				.bingo-cell.marked {
					background: $cell-marked-bg;
					color: lighten($primary-color, 45%);
				}
			}
		}

		#row-control {
			display: flex;
			justify-content: space-between;
			padding: 10px;
			border-bottom: $cell-base-border;
			//background: darken($primary-color, 10%);

			#col-left {
				.inp-txt {
					width: 30px;
					text-align: center;
					font-weight: 700;
					margin-right: 30px;
				}
			}

			#col-right {
				#btn-pattern {
					width: 37px;
					height: 37px;
				}
			}
		}

		#row-footer {
			display: flex;
			flex-direction: row;

			> div {
				flex: 1;

				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				border-left: $cell-base-border;
			}

			#col-logo {
				img {
					display: none;
					margin: 0 auto;
					margin-top: 60px;
					max-width: 200px;
					max-height: 200px;
				}
			}

			#col-current-pattern {
				color: $primary-color;

				table#current-pattern td {
					pointer-events: none;
					width: 40px;
					height: 40px;
				}
			}

			#col-current-draw {
				color: $primary-color;

				#current-draw-number {
					font-weight: 800;
					font-size: 150px;
					text-transform: uppercase;
				}
			}
		}
	}

	.btn-float {
		display: none;
		position: fixed;
		bottom: 0;
		z-index: 1;
		margin: 30px;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		border: 0;
		background: $primary-color;
		color: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		transition: $base-transition;
	}
	.btn-float:hover {
		bottom: 5px;
		background: lighten($primary-color, 10%);
	}
	.btn-float:active {
		bottom: 3px;
		background: $primary-color;
	}

	#btn-back {
		left: 0;
	}

	table.pattern {
		td {
			width: 50px;
			height: 50px;
			background: lighten(gray, 45%);
			border-radius: 10px;
			transition: $base-transition;
		}
		td.marked {
			background: $primary-color;
		}
		td.bonus {
			pointer-events: none;
			background: darken(gray, 10%) !important;
		}
		td:hover {
			background: lighten(gray, 40%);
		}
		td:active {
			background: lighten(gray, 20%);
		}
	}

	#patterns {
		flex: 1;

		display: none;
		flex-wrap: wrap;

		> div {
			flex-basis: 50%;

			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-top: 70px;
			position: relative;
			top: -35px;

			.pattern {
				pointer-events: none;
			}

			h1, h2, h3 {
				color: $primary-color;
				font-weight: 800;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 5px;
				margin: 0;
			}

			#btn-edit {
				width: 100px;
				margin: 0 auto;
			}
		}
	}

	#pattern-edit {
		flex: 1;

		display: none;
		flex-direction: column;
		justify-content: center;

		> div {
			display: flex;
			flex-direction: row;
			justify-content: center;

			input {
				margin-right: 5px;
			}
		}

		td {
			width: 100px;
			height: 100px;
		}
	}

	#current-draw {
		flex: 1;

		display: none;
		flex-direction: column;
		justify-content: center;

		#number {
			font-weight: 800;
			font-size: 20em;
			text-align: center;
			text-transform: uppercase;
			color: $primary-color;
		}
	}
}