@import "_fonts";

$primary-color: #00c5e6;
$cell-base-border: 2px solid $primary-color;
$cell-marked-bg: darken($primary-color, 20%);

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Khula';
}

#wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	#row-bingo {
		flex: 4;

		display: flex;
		flex-direction: column;

		.bingo-row {
			flex: 1;

			display: flex;
			flex-direction: row;

			.primary-cell {
				text-transform: uppercase;
				background: $primary-color;
				color: #fff !important;
				background: $primary-color !important;
			}

			.bingo-cell {
				flex: 1;

				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				font-weight: 800;
				font-size: 30px;
				border-left: $cell-base-border;
				border-bottom: $cell-base-border;
				color: $primary-color;
				transition: all .3s ease;
			}
			.bingo-cell:hover {
				background: $cell-marked-bg;
			}
			.bingo-cell:active {
				background: darken($primary-color, 30%);
			}
		}
	}

	#row-footer {
		flex: 2;
	}
}