@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Khula/Khula-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Khula';
  font-weight: 700;
  src: url("../fonts/Khula/Khula-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Khula';
  font-weight: 800;
  src: url("../fonts/Khula/Khula-ExtraBold.ttf") format("truetype"); }
*:focus {
  outline: 0; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Khula'; }

label {
  font-weight: 800;
  text-transform: uppercase;
  color: #00c5e6;
  margin-right: 5px; }

.inp-txt {
  border-radius: 50px;
  border: 1px solid #00c5e6;
  padding: 10px 20px 10px 20px;
  color: #00c5e6;
  transition: all 0.3s ease; }

.inp-txt:hover, .inp-txt:focus {
  box-shadow: 0 0 5px #00c5e6; }

.btn {
  border-radius: 50px;
  border: 1px solid #00c5e6;
  background: #fff;
  color: #00c5e6;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 3px;
  transition: all 0.3s ease; }

.btn:hover {
  background: #00c5e6;
  color: #fff; }

.btn:active {
  background: #0099b3; }

.btn.danger {
  border-color: crimson;
  color: crimson; }

.btn.danger:hover {
  background: crimson;
  color: #fff; }

.btn.danger:active {
  background: #ad102f; }

#wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  #wrapper #main {
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column; }
    #wrapper #main #row-bingo {
      flex: 4;
      display: flex;
      flex-direction: column; }
      #wrapper #main #row-bingo .bingo-row {
        flex: 1;
        display: flex;
        flex-direction: row; }
        #wrapper #main #row-bingo .bingo-row .primary-cell {
          text-transform: uppercase;
          background: #00c5e6;
          color: #fff !important;
          background: #00c5e6 !important; }
        #wrapper #main #row-bingo .bingo-row .bingo-cell {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          font-weight: 800;
          font-size: 30px;
          border-left: 2px solid #00c5e6;
          border-bottom: 2px solid #00c5e6;
          color: #00c5e6;
          transition: all 0.3s ease; }
        #wrapper #main #row-bingo .bingo-row .bingo-cell:hover {
          background: #006e80; }
        #wrapper #main #row-bingo .bingo-row .bingo-cell:active {
          background: #00424d; }
    #wrapper #main #row-control {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 2px solid #00c5e6; }
      #wrapper #main #row-control #col-left .inp-txt {
        width: 20px;
        text-align: center;
        font-weight: 700; }
      #wrapper #main #row-control #col-left #btn-mark {
        margin-right: 20px; }
    #wrapper #main #row-footer {
      display: flex;
      flex-direction: row; }
      #wrapper #main #row-footer > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-left: 2px solid #00c5e6; }
      #wrapper #main #row-footer #col-current-pattern {
        color: #00c5e6; }
        #wrapper #main #row-footer #col-current-pattern table#current-pattern td {
          background: #00c5e6;
          width: 20px;
          height: 20px;
          border-radius: 100%; }
      #wrapper #main #row-footer #col-current-draw {
        color: #00c5e6; }
        #wrapper #main #row-footer #col-current-draw #current-draw-number {
          font-weight: 800;
          font-size: 100px; }
  #wrapper #btn-add {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0;
    background: #00c5e6;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease; }
  #wrapper #btn-add:hover {
    bottom: 5px;
    background: #1adeff; }
  #wrapper #btn-add:active {
    bottom: 3px;
    background: #00c5e6; }
  #wrapper #patterns {
    flex: 1;
    display: flex;
    flex-direction: row; }
    @media screen and (max-width: 425px) {
      #wrapper #patterns {
        flex-direction: column; } }
    #wrapper #patterns > div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #wrapper #patterns > div table.pattern td {
        width: 50px;
        height: 50px;
        background: #00c5e6;
        border-radius: 100%; }
      #wrapper #patterns > div .pattern-name {
        color: #00c5e6;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 5px; }
      #wrapper #patterns > div #btn-delete-pattern {
        width: 100px;
        margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
